@font-face {
	font-family: Avenir;
	font-display: swap;
	src: url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
